<div class="container">
  <%= render 'devise/shared/error_messages', resource: @f_user %>
  <h2>Sign up after facebook auth</h2>

  <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center">Create Account</h4>

      <div class="form-group">
        <!-- TODO: as: :userいらないかも、検証 -->
        <%= form_for(@f_user, as: :user, url: facebook_users_path, method: :post) do |f| %>

          <div class="form-group input-group">
            <div>5-15 alphanumeric characters besides surrounding blank spaces</div>
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <%= f.text_field :account_id, class: "form-control", placeholder: "Account ID", type: "text" %>
          </div> <!-- form-account_id// -->

          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <%= f.text_field :email, class: "form-control", placeholder: "Email address", type: "email" %>
          </div> <!-- form-email// -->

          <div class="form-group input-group">
            <div>1-20 alphanumeric characters besides surrounding blank spaces</div>
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <%= f.text_field :name, class: "form-control", placeholder: "Full name", type: "text" %>
          </div> <!-- form-name// -->

          <div>
            <button type="submit" class="btn btn-primary btn-block"> Create Account </button>
          </div>
        <% end %>
      </div> <!-- form-group// -->
    </article>
  </div> <!-- card.// -->
</div>
<!--container end.//-->

