<h1 class='row mb-5'><%= "Welcome back, #{@user.name}!" %></h1>
<div class='row'>
  <div class='col-4'>
    <p><%= link_to 'My Profile', user_path(@user) %></p>
    <p><%= link_to 'Followings', followings_user_path(@user) %></p>
    <p><%= link_to 'Followers', followers_user_path(@user) %></p>
  </div>

  <div class='col-4'>
    <%= render template: 'meal_posts/index', locals: {title: 'Your Timeline', meal_posts: meal_posts} %>
  </div>

  <div class='col-4'>
    <%= render partial: 'meal_posts/new'%>
  </div>
</div>
