<div class="card", data-meal-post-id="<%= meal_post.id %>">
  <div class="card-header">
    <%= link_to meal_post.user.name, user_path(meal_post.user) %>
  </div>
  <p><%= link_to meal_post.content, meal_post_path(meal_post) %></p>

  <!-- TODO:Fontawesome, -->
  <div class="col-1 text-center">
    <div id="vote-actions-<%= meal_post.id %>" class="vote" data-id="<%= meal_post.id %>">
      <div class="fa fa-arrow-up upvote<%= is_upvoted(meal_post) ? ' active' : '' %>"></div>
      <span class="font-weight-bold score"><%= meal_post.score %></span>
      <div class="fa fa-arrow-down downvote<%= is_downvoted(meal_post) ? ' active' : '' %>"></div>
    </div>
  </div>

  <p class="small"><%= meal_post.time %></p>
  <% if current_user == meal_post.user %>
    <%= link_to "Delete this post", meal_post_path(meal_post),
    method: "delete", remote: true %>
  <% end %>
</div>
