<div class="row">
  <div class="col-12 pt-3 pb-3">
    <div class="float-right">
      <% if user_signed_in? %>

        <%= link_to users_path do %>
          <div class="fa fa-address-card"></div>
        <% end %>
        <%= link_to '#TODO' do %>
          <div class="fa fa-envelope"></div>
        <% end %>

        <span class="dropdown show">
          <a class="btn btn-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= 'Settings' %>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Edit Profile", profile_edit_path, class: "dropdown-item" %>
            <%= link_to "Edit Password", password_edit_path, class: "dropdown-item" %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item", data: { confirm: '本当にログアウトしますか？' } %>
            <%= link_to "Cancel Account", cancellation_confirmation_path, class: "dropdown-item" %>
          </div>
        </span>

      <% else %>
        <%= link_to "Log In", new_user_session_path, class: "btn btn-outline-primary" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-primary" %>
      <% end %>

    </div>
    <p class="h3"><%= link_to "Diet App", root_path %></p>
  </div>
</div>
